<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TurismoTFG"
        tools:targetApi="31">
        <activity android:name=".Activities.EditNameActivity"
            android:exported="false"
            android:label="edit_name"/>
        <activity android:name=".Activities.HelpActivity"
            android:exported="false"
            android:label="help_activity"/>
        <activity android:name=".Activities.GuideLikeActivity"
            android:exported="false"
            android:label="guide:like"/>
        <activity android:name=".Activities.EditPaswordActivity"
            android:exported="false"
            android:label="edit_email"/>
        <activity android:name=".Activities.EditSurnameActivity"
            android:exported="false"
            android:label="edit_surname"/>
        <activity
            android:name=".Activities.PlaceProfile"
            android:exported="false"
            android:label="place_profile" />
        <activity
            android:name=".Activities.GuideActivity"
            android:exported="false"
            android:label="guide_activity" />
        <activity android:name=".Activities.ZoomImageActivity"
            android:exported="false"
            android:label="zoom_image"/>
        <activity android:name=".Activities.UserActivity"
            android:exported="false"
            android:label="user_activity"/>
        <activity android:name=".Activities.UserProfile"
            android:exported="false"
            android:label="user_profile"/>
        <activity android:name=".Activities.GuideProfile"
            android:exported="false"
            android:label="guide_profile"/>
        <activity android:name=".Activities.MapView"
            android:exported="false"
            android:label="map_view"/>
        <activity android:name=".Activities.MapGuideView"
            android:exported="false"
            android:label="map_guide"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.UserRegister" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>